# Node modules
node_modules/

# Build output directory (for Vite, it's 'dist')
dist/
build/ # If you were using Create React App (CRA)

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# npm debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS specific files
.DS_Store

# npm package lock v1 (npm-5)
package-lock.json

# VS Code settings
.vscode/

# Coverage directory
coverage/